.sidebar {
  h4 {
    background-color: #E6E6E6;
    padding: 8px 16px;
    margin-top: 40px;

    &:first-child {
      margin-top: 0;
    }
  }

}

.team.label a {
  color: white;
  font-weight: normal;
}

.nav.nav-tabs.nav-stacked li.installation  {
  border: solid 1px #DDD;
  border-radius: 4px;
  padding: 10px;
  & > .edit {
    display: inline-block;
  }
  i { cursor: pointer; }
}

